<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InsureX</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="JavaScript" href="/static/js/script.js">
</head>

<body>
    <main>
        <header>
            <nav class="nav-bar">
                <a id="project-title" class="nav-item" href="">InsureX</a>
                <ul>
                    <li><a class="nav-item" href="#home">Home</a></li>
                    <li><a class="nav-item" href="#start">Start</a></li>
                    <li><a class="nav-item" href="#about">About</a></li>
                    <li><a class="nav-item" href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <img class="bg-image" src="/static/files/neon.jpg" alt="bg">
        <section id="home" class="page">
            <p>Welcome to Insurance Prediction Website</p>
        </section>
        <section id="start" class="page">
            <a class="button" href="/form">Start</a>
        </section>
        <section id="about" class="page">
            <div class="section">
                <p><strong>Overview</strong>
                    <br>Welcome to our Insurance Charge Prediction website!
                    This project shows the power of machine learning to predict insurance charges.
                    Built using Python, Flask, HTML and CSS, our platform provides a user-friendly interface for
                    accurate predictions.
                    <br>
                    <br><strong>Technology used</strong>
                    <br>HTML & CSS : The frontend is built using HTML and CSS, ensuring a visually appealing design.
                    <br>Python & Flask : The backend is powered by Python and Flask.
                    <br>Machine Learning : Our prediction model is based on a Random Forest algorithm.
                    <br>
                    <br><strong>How it works</strong>
                    <br>Input Data : Users enter their personal details such as age, gender, BMI, number of children,
                    smoking status, and region.
                    <br>Prediction : The data is processed by our machine learning model, which predicts the insurance
                    charges.
                    <br>Result : The predicted insurance charges are displayed instantly, helping users understand their
                    insurance costs.
                </p>
                <img src="/static/files/people.webp" alt="">
            </div>
        </section>
        <section id="contact" class="page">
            <div class="info">
                <img src="/static/files/profile.JPG" alt="">
                <p>
                    <strong>Himanshu Kumawat</strong>
                    <br>B.Tech student at PIET
                    <br>Skills: C, C++, Java, JavaScript, SQL, HTML, CSS, php, Graphics
                </p>
            </div>
            <div class="social-media">
                <a href="https://www.linkedin.com/in/iamhimanshu98/"><img class="icon" src="/static/files/linkedin.png"
                        alt="">Linkedin</a>
                <a href="https://github.com/iamhimanshu98"><img class="icon" src="/static/files/github.png"
                        alt="">Github</a>
                <a href="https://www.instagram.com/i.am.himanshu98/"><img class="icon" src="/static/files/instagram.png"
                        alt="">Instagram</a>
                <a href="https://leetcode.com/u/iamhimanshu98/"><img class="icon" src="/static/files/coding.png"
                        alt="">Leetcode</a>
            </div>
            <div class="copyright">
                <p>copyright © InsureX.com | All rights reserved</p>
            </div>
        </section>
    </main>
    <script src="/static/js/script.js"></script>

</body>

</html>